@import '_mixins.scss';

.article-author {
    display: flex;
    flex-direction: row;
    width: 85%;
    position: absolute;
    bottom: 18px;

    &__info {
       width: 100%;
       margin-left: 20px;
    }

    &__date {
        font-size: 14px;
        font-family: "GothamBook", sans-serif;
        color: #60bcff;
    }

    &__name {
        text-transform: uppercase;
    }
}