.slick-dots {
  position: absolute;
  bottom: -80px;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 12px;
    cursor: pointer; }
    .slick-dots li button {
      border: 1px solid #ffffff;
      border-radius: 50%;
      background: transparent;
      display: block;
      height: 14px;
      width: 14px;
      outline: none;
      color: transparent;
      cursor: pointer; }
      .slick-dots li button:hover {
        outline: none; }
        .slick-dots li button:hover:before {
          background-color: #ffffff; }
      .slick-dots li button:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -8px 0 0 -8px;
        content: '';
        width: 10px;
        height: 10px;
        background-color: transparent;
        line-height: 20px;
        text-align: center;
        opacity: 1;
        border-radius: 50%; }
    .slick-dots li.slick-active button:hover,
    .slick-dots li.slick-active button:before {
      background-color: #ffffff; }
