.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 600px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__link {
    font-family: "GothamBook", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff; }
  .nav__circle {
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
    width: 20px;
    height: 20px;
    margin-left: 10px; }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav__item:hover .nav__circle {
      fill: #ffffff; }

@media screen and (max-width: 1200px) {
  .nav {
    width: 50%; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 165px; }
  .social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #ffffff;
    width: 37px;
    height: 37px;
    border-radius: 37px;
    cursor: pointer; }
    .social__item:hover {
      background-color: #ffffff; }
    .social__item:hover .social__link {
      color: #7d5cfa; }
  .social__link {
    color: #ffffff;
    font-size: 14px; }

@media screen and (max-width: 1200px) {
  .social {
    width: 15%; } }

.main-title {
  font-family: "gothambold1", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center; }
  .main-title__title {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 9px; }
  .main-title__subtitle {
    font-size: 18px;
    font-family: "GothamBook", sans-serif;
    letter-spacing: 6px;
    text-align: center;
    margin-top: 20px; }

.title {
  font-family: "gothambold1", sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 100px; }
  .title:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    margin: 100px auto 40px auto;
    background-color: #000000; }
  .title--white {
    color: #ffffff; }
    .title--white:before {
      background-color: #ffffff; }

.scroll {
  position: absolute; }
  .scroll--bottom {
    bottom: 50px; }
  .scroll__icon {
    fill: #ffffff;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    width: 40px;
    height: 40px; }
  .scroll--left {
    left: 50px;
    top: 50%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .scroll--right {
    right: 50px;
    top: 50%;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }

@media screen and (max-width: 1200px) {
  .scroll--left, .scroll--right {
    display: none; } }

.content-block {
  width: 100%;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .content-block__inner {
    max-width: 1170px;
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .content-block__img {
    z-index: 2;
    width: 585px; }
    .content-block__img--back {
      position: absolute;
      top: 0;
      left: 0;
      height: 436px;
      background-color: #55b7ff; }
    .content-block__img--back-right {
      position: absolute;
      top: 0;
      right: 0;
      height: 436px;
      background-color: #7e5aff; }

@media screen and (max-width: 1200px) {
  .content-block__img--back, .content-block__img--back-right {
    width: 40%; } }

.description-wrapper {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.description {
  padding-left: 70px;
  font-family: "GothamBook", sans-serif; }
  .description--padding-right {
    padding-right: 70px;
    padding-left: 0; }
  .description__suptitle {
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .description__title {
    font-family: "gothambold1", sans-serif;
    margin-bottom: 40px;
    font-size: 44px;
    text-transform: uppercase; }
  .description__text {
    font-size: 17px;
    line-height: 1.5; }

@media screen and (max-width: 1200px) {
  .description--padding-right {
    padding-right: 5%; } }

.btn {
  width: 190px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000000;
  text-transform: uppercase;
  margin: 35px 0 60px 0;
  color: #000000; }
  .btn:hover {
    background-color: #55b7ff;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #55b7ff;
    font-weight: 700; }
  .btn--center {
    margin: 60px auto 140px auto; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  font-style: italic; }
  .location__city {
    margin-left: 8px; }

.scroll-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 60px 0 138px 0; }

.scroll-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .scroll-bar--right {
    position: absolute;
    right: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 220px;
    width: 20px; }
  .scroll-bar--horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 220px;
    height: 20px; }
  .scroll-bar__circle {
    stroke: #ffffff;
    stroke-width: 1;
    fill: none; }
    .scroll-bar__circle:hover {
      fill: #ffffff;
      cursor: pointer; }

.scroll-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .scroll-list__item {
    width: 31%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #ffffff; }
  .scroll-list__title {
    font-family: "gothambold1", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5; }
  .scroll-list__text {
    margin-top: 10px; }
  .scroll-list__name {
    width: 70%; }
  .scroll-list__description {
    margin: 20px 20px 20px 20px; }
  .scroll-list__img {
    width: 100%; }

.article-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  padding-top: 37px; }
  .article-author__info {
    width: 100%;
    margin-left: 20px; }
  .article-author__date {
    font-size: 14px;
    font-family: "GothamBook", sans-serif;
    color: #60bcff; }
  .article-author__name {
    text-transform: uppercase; }

.image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1170px; }
  .image-block__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    width: 580px;
    height: 438px; }
  .image-block__item {
    height: 214px; }
    .image-block__item--lg {
      height: 438px; }

@media screen and (max-width: 1170px) {
  .image-block {
    width: 100%;
    height: 896px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.map {
  height: 400px;
  width: 100%; }
